<!DOCTYPE html>
<html>
<head>
    <title>Login - Library Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Library Management System</h2>
<h3>Login</h3>

<form action="/login" method="POST">

    <label>Username:</label><br>
    <input type="text" name="username" placeholder="Enter Username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" placeholder="Enter Password" required><br><br>

    <button type="submit">Login</button>

</form>

</body>
</html>